<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja virtual</title>
    <link rel="stylesheet" href="stylesheets/mystyles.css">
</head>
<body>
    <h2>Vitrine:</h2>
    <div id="produtos">
    </div>

    <h2 id="h2carrinho">Carrinho:</h2>
    <div id="carrinho">
    </div>
    <a href="/frete">Calcular frete</a>

    <script src="javascript/index.js"></script>
</body>
</html>